:host {
  background-color: white;
  flex: 1;
}

.search-header {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.8s ease;
}

.search-header-closed {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.header-swedish-flag {
  color: rgb(200, 200, 200);
  margin-bottom: 32px;
}

.search-header > h2{
  color: rgb(150, 150, 150);
  margin: 0;
  font-size: xx-large;
  cursor: pointer;
}

.search-header > h2 > svg {
  transform: translateY(6px);
}

.search-header > p{
  color: rgb(150, 150, 150);
  margin-top: 4px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 0 8px;
  margin-bottom: 32px;
}

.search-textarea {
  padding: 8px;
  font-size: large;
  width: 100%;
  max-width: 680px;
  resize: none;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(240, 240, 240);
  border-bottom: 2px solid rgb(240, 240, 240);
  border-right: none;
}

.search-textarea:focus {
  outline: none;
}

.myai-search-submit {
  border-radius: 0px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 253, 240);
  box-shadow: 2px 2px 0 0px rgb(66, 66, 66);
  cursor: pointer;
}

.myai-search-submit:hover{
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 0 0px rgb(66, 66, 66);
}

.myai-search-submit:active {
  border: 1px solid rgb(51, 51, 51);
  box-shadow: 0px 0px 0 0px rgb(66, 66, 66);
}

/* .myai-search-sponsor-message {
  display: flex;
  font-size: small;
  color: rgb(180, 180, 180);
  justify-content: center;
  padding: 4px;
}
 */