.myai-search-container {
  background-color: white;
  margin-bottom: 32px;
}

.search-header {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  padding: 0 16px;
}

.search-textarea {
  padding: 8px;
  border-radius: 8px;
  height: 40px;
  font-size: large;
  width: 100%;
  max-width: 680px;
  resize: none;
}

.search-textarea:focus {
  outline: none;
}
