:host {
  margin: auto;
  max-width: 760px;
  background-color: rgb(255, 253, 240);
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: dotted 4px rgb(200, 200, 200);
  border-bottom: dotted 4px rgb(200, 200, 200);
}

.myai-trending-products-wrap {
  display: flex;
  gap: 32px 8px;
  padding-bottom: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 720px;
}

.myai-trending-products-title {
  display: flex;
  text-wrap: nowrap;
  overflow: hidden;
  max-width: 740px;
  min-width: 0;
  margin: -32px 4px 20px 4px;
  padding: 4px 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 253, 240);
  font-size: 40px;
  font-weight: bolder;
  width: auto;
  text-shadow: -1px -1px 0 rgb(200, 200, 200), 1px -1px 0 rgb(200, 200, 200),
    -4px 4px 0 rgb(200, 200, 200), 1px 1px 0 rgb(200, 200, 200);
  border: dotted 4px rgb(200, 200, 200);
}

@media (max-width: 728px) {
  .myai-trending-products-wrap {
    max-width: 540px;
    min-width: 0px;
  }
}

@media (max-width: 557px) {
  .myai-trending-products-wrap {
    max-width: 360px;
    min-width: 0px;
  }
}
