.search-example-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 16px;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 32px;
}

.search-example {
  display: flex;
  flex-direction: column;
  margin: 12px;
  padding: 8px 12px;
  width: 240px;
  font-weight: bold;
  color: rgb(66, 66, 66);
  box-shadow: 3px 3px 0 0 rgb(66, 66, 66);
  border: 1px solid rgb(66, 66, 66);
}

.search-example:hover {
  cursor: pointer;
  box-shadow: 2px 2px 0 0 rgb(66, 66, 66);
}

.serch-example-type {
  color: rgb(121, 121, 121);
  font-weight: normal;
}

.disabled {
  opacity: 0.2;
}
