.search-example-wrap {
  display: flex;
  justify-content: center;
  align-items:last baseline;
  margin: auto;
  margin-top: -64px;
  gap: 16px;
  padding: 0 0 64px 0;
  width: 95%;
}

.example {
  max-width: 620px;
}

img {
  max-width: 100%;
}
