:host {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  justify-content: space-between;
  align-items: center;
}

.myai-content {
  width: 92%;
  max-width: 760px;
  margin: 0 0 120px 0;
}
