:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myai-product-results-wrap {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 350px;
  max-width: 760px;
  width: 88vw;
  padding: 8px;
  gap: 0 8px;
  margin-bottom: 32px;
  background-color: rgb(240, 240, 240);
  border: 1px black solid;
  box-shadow: 5px 5px 0 2px rgb(66, 66, 66);
  transition: all 0.8s ease;
}

.myai-product-results-message-wrap {
  display: flex;
  max-width: 760px;
  align-items: left;
  width: 100%;
  margin-bottom: 32px;
}

.product-results-message {
  height: 100%;
}

.bootlr-is-searching {
  margin: 16px 0;
  padding: 2px 4px;
  border: 1px solid black;
  animation: border-run 1s infinite ease-in-out;
}

@keyframes border-run {
  0% {
    box-shadow: 1px 1px 0 0 rgb(66, 66, 66);
    transform: translateY(0);
    transform: translateX(0);
  }
  25% {
    box-shadow: 2px 2px 0 0 rgb(66, 66, 66);
    transform: translateY(1px);
    transform: translateX(1px);
  }
  50% {
    box-shadow: 3px 3px 0 0 rgb(66, 66, 66);
    transform: translateY(2px);
    transform: translateX(2px);
  }
  75% {
    box-shadow: 2px 2px 0 0 rgb(66, 66, 66);
    transform: translateY(1px);
    transform: translateX(1px);
  }
  100% {
    box-shadow: 1px 1px 0 0 rgb(66, 66, 66);
    transform: translateY(0);
    transform: translateX(0);
  }
}

@media (max-width: 740px) {
  .myai-product-results-wrap {
    max-height: 260px;
  }
}
