:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myai-product-results-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 8px;
  max-width: 760px;
  justify-content: center;
  margin: 32px 0px 100px;
}

.bootlr-product-suggestions-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  max-height: 560px;
  height: 540px;
  max-width: 760px;
  padding: 8px;
  margin: 0 8px;
  gap: 0 8px;
  justify-content: center;
  border: 1px rgb(209, 207, 191) solid;
  box-shadow: 4px 6px 1px 1px rgb(209, 207, 191);
}

.suggestions-explain-text {
  margin: 0 40px;
}

@media (max-width: 740px) {
  .myai-product-results-wrap {
    gap: 16px 8px;
  }

  .bootlr-product-suggestions-wrap {
    max-height: 320px;
  }
}
