:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myai-product-results-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 4px;
  max-width: 760px;
  justify-content: center;
  margin: 16px 0px 100px;
}

@media (max-width: 740px) {
  .myai-product-results-wrap {
    gap: 16px 8px;
  }

  .bootlr-product-suggestions-wrap {
    max-height: 260px;
  }
}
