.myai-chat-main-container {
  background-color: white;
  margin-bottom: 32px;
}

.chat-main-header {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.chat-main-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chat-main-textarea {
  padding: 8px;
  border-radius: 8px;
  height: 40px;
  font-size: large;
  width: 100%;
  max-width: 640px;
  resize: none;
}

.chat-main-textarea:focus {
  outline: none;
}
