myai-chat-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-history {
  /* border: 1px red dashed; */
  flex: 1;
  overflow-x: hidden;
  padding: 8px;
  padding-bottom: 32px;
  margin-bottom: 8px;
}

/* .chat-history::-webkit-scrollbar {
  display: none;
} */

.chat-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chat-textarea {
  padding: 8px;
  border-radius: 8px;
  height: 80px;
  font-size: large;
  width: 100%;
  resize: none;
}

.chat-textarea:focus {
  outline: none;
}
