.empty-results-wrap {
  background-color: rgb(255, 253, 240);
  padding: 6px 12px;
  box-shadow: 2px 2px 1px 1px rgb(202, 200, 187);
  border: 1px solid rgb(202, 200, 187);
  color: rgb(66, 66, 66);
  font-size: large;
  margin: 16px 8px;
}