:host {
  margin: auto;
  max-width: 760px;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(255, 253, 240);
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myai-trending-products-wrap {
  display: flex;
  gap: 8px;
  padding-bottom: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 720px;
}

.myai-trending-products-title {
  max-width: 740px;
  color: gray;
}

@media (max-width: 740px) {
  .myai-trending-products-wrap {
    max-width: 370px;
    min-width: 0px;
  }
}
