 /* TESTING CLASS */
/* .myai-ads-wrap {
  height: 200px;
  border: dashed 1px red;
  display: none;
} */

:host {
  display: flex;
  justify-content: center;
}

.myai-ads-wrap {
  margin: 0 16px;
  max-width: 720px;
  flex: 1;
}